@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-home {
    background-image: url('/background.jpg'); /* Adjust the path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9; /* Adjust transparency */
  }
  